{% extends 'base.html' %}

{% block content %}

{% if request.user.user_type == "client" %}
<div class="container">
    <h2>Freelancers: </h2>
    {% for freelancer in freelancers %}
    <div class="row">
        <div class="col-sm">
            <span>Name: {{freelancer.title}} {{freelancer.first_name}} {{freelancer.last_name}}</span> <br/>
                <span>Skills: {% for skill in freelancer.skills %}
                    {{skill}},
                    {%endfor%}
                </span><br/>
                <span>Country: {{freelancer.country}} </span><br/>
                <a class="btn btn-outline-success my-2 my-sm-0" href={% url 'view_user' freelancer.id %}>More Details</a> 
        </div>
         
    </div>  
    {% endfor %}
</div>
{% elif request.user.user_type == "freelancer" %}
    <div class="container-fluid">
        <form action="{% url 'search_job' %}" method="GET">
            <div class="form-group col-md-6">
                <label for="inputJobTitle">Rate</label>
                <input type="text" name = "query" class="form-control" id="inputJobTitle" placeholder="Type keywords...." >
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
        <div class="row">
        {% for job in job_list %}
            <div class="col-md">
                <div class="col-md-auto">
                    <img class="card-img-top" src="{{job.image.url}}">
                </div>
                <span>Title: {{job.job_title}}</span> <br/>
                <span>Description: {{job.description}} </span><br/>
                <span>Must be completed by: {{job.completion_time}} </span><br/>
                <a class="btn btn-outline-success my-2 my-sm-0" href={% url 'job_detail' job.id %}>More Details</a>
            </div>  
        {% endfor %}
        </div>
    </div>
{% else %}
{% endif %}
{% endblock content %}