{% extends 'base.html' %}

{% block content %}

<section class="login1">
    <div class="container">
        <div class="login-heading">
            <h1>Job Detail</h1>
        </div>
    </div>
</section>
<section class="job-detail1">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="detail-left">
                    <h2>{{job.job_title}}</h2>
                    <img src="{{job.image.url}}" alt="image" title="image">
                
                
                    <p>{{job.description}}</p>

                    {% if request.user.id != job.user_id %}
                        <ul>
                            {% if applied == True %}
                                <li> <a class="btns" style="background-color:green;">Applied</a></li>
                            {% elif bid == True %}
                                <li> <a class="btns" style="background-color:green;">Bidded</a></li>
                            {% else %}
                                <li> <a class="btns" href={% url 'apply_job' job.id %}>Apply</a></li>
                            {% endif %}
                        </ul>
                    {% else %}
                            <li> <a class="btns" href="{% url 'edit_job' job.id %}">Edit</a></li> 
                            <br>
                            <li> <a class="btns" href="{% url 'delete_job' job.id %}">Delete</a></li> 
                    {% endif %}
                </div>
            </div>
            <div class="col-4">
                <div class="detail-right">
                    <h2> Date Posted:</h2>
                    {{job.created_on}}
                    <br>
                    <br>
                    <ul>
                        <li>
                            <h4>Price: ${{job.rate}} {% if job.price_per == "per_project" %}Per Project {% else %} Per Hour{% endif %}</h4>

                            
                        </li>
                    </ul><h2>{{offers}} {% if offers > 1 %}Offers Made {% else %}Offer Made{% endif %}</h2>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

