{% extends 'base.html' %}

{% block content %}

<h2>Requested bid</h2>

<form method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputJobTitle">Rate</label>
          <input type="text" name = "agreed_rate" class="form-control" id="inputJobTitle" placeholder="Rate" value={{bid_data.requested_rate}} >
        </div>
        <div class="form-group col-md-6">
          <label for="inputRate">Hour</label>
          <input type="integer" name = "agreed_hour" class="form-control" id="inputRate" placeholder="Hour" value={{bid_data.requested_hour}} >
        </div>
        <div class="form-group col-md-6">
            <label for="inputRate">Completion Time</label>
            <input type="integer" name = "agreed_completion_time" class="form-control" id="inputRate" placeholder="Completion Time" value={{bid_data.requested_completion_time}} >
          </div>    
        </div>
        <button type="submit" class="btn btn-primary">Accept</button>
        <a class="btn btn-primary" href="{% url 'reject_bid' job_bid_id bid_data.freelancer_id %}"> Reject</a>
</form>

{% endblock content %}