{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <h1>Posted jobs</h1>
    <div class="row">
            {% for job in jobs %}
            <div class="col-md">
                <span>Title: {{job.job_title}}</span> <br/>
                <span>Description: {{job.description}} </span><br/>
                <span>Rate: ${{job.rate}} </span><br/>
                <span>Hour: {{job.hour}} </span><br/>
                <span>Must be completed by: {{job.completion_time}} </span><br/>
            </div>
            {% endfor %}
    </div>
</div> 
{% endblock content %}