{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h3>Filter</h3>
    <h5>Project Length</h5>
    <hr>
    <div class="left">
    <p for="hourly">Less than one month</p>
    <input type="radio" id="less_than_1_month" name="project" vlaue="less_than_1_month"/>
    </div>
    <label for="hourly">1 to 3 months</label>
    <input type="radio" id="1_to_3_months" name="project" vlaue="1_to_3_months"/>
    <label for="hourly">3 to 6 months</label>
    <input type="radio" id="3_to_6_months" name="project" vlaue="3_to_6_months"/>
    <label for="hourly">More than 6 months</label>
    <input type="radio" id="more_than_6_months" name="project" vlaue="more_than_6_months"/>
    <hr>
    <h5>Sort</h5>
    <form method="GET" action="{% url "search_job" %}">
    <select name="sort_price" id="select1" placeholder="Job Title" value="Job Title" >
        <option value="low_to_high">Low To high</option>
        <option value="high_to_low">High To Low</option>
    </select>
    <hr>
    <p for="price">Price:</p>
    <input type="number" id="min_price" name="min_price" vlaue="min_price" placeholder="Minimum Price"/>
    <input type="number" id="max_price" name="max_price" vlaue="max_price" placeholder="Maximum Price"/>
    <button type="submit">apply</button>
    </form>
    </div>
</div>


<section class="job-list">
    <div class="container">
      <div class="title">
          <div class="search-name">
              <h2>Jobs</h2> </div>
              <div class="search">
                  <div class="input-group">
                      <select name="job title" placeholder="Job Title" value="Job Title">
                          <option value="1">Web Designer</option>
                          <option value="2">Content Writing</option>
                          <option value="3">Web Development</option>
                          <option value="4">Social Media Management</option>
                          <option value="5">Graphic Design</option>
                          <option value="6">Virtual Assistance</option>
                          <option value="7">SEO Specialist</option>
                          <option value="8">Online Tutoring</option>
                          <option value="9">Video Editing</option>
                          <option value="10">Data Entry</option>
                          <option value="11">Marketing Consultant</option>
                       </select>
                      </div>
                     <div class="input-group">
                      <select name="job title" placeholder="Job Type" value="Job Type">
                          <option value="1">Fresher</option>
                          <option value="2">Experienced</option>
                         
                       </select>
                     </div>
                
                  <div class="find-btn">
                      <a class="btns" href="search.html">Find job</a>
                  </div>
              </div>
      </div>
  <div class="row">
    {% if result_count > 1 %}
    
        {% for job in jobs %}
            <div class="col-10">
                <div class="job-box">
                    <div class="job-heading">
                    <h3>{{job.job_title}}</h3>
                    <span class="old">${{job.rate}} hours/per week</span>
                    </div>
            
                    <div class="price">
                        <div class="price-left client">
                            <p>{{job.description}}</p>
                        </div>
                
                    </div>
                        <ul class="client">
                            <li><a href="{% url "job_detail" job.id %}">View Details</a></li>
                    
                        </ul>
                </div> 
            </div>
        {% endfor %}
    {% else %}
    <h3>No results here. Try another search</h3>
        
    {% endif %}
  </div>
  <div class="pagination">
      <ul>
        {% if total_page.has_previous %}
            <li><a  href="{% url "view_job" %}?page=1">First</i></a></li>
            <li><a  href="{% url "view_job" %}?page={{total_page.previous_page_number}}"><i class="fa fa-arrow-left"></i></a></li>
        {% endif %}
        {% for page in pages %}
            <li><a href="{% url "view_job" %}?page={{page}}">{{page}}</a></li>
        {% endfor %}
        {% if total_page.has_next %}
            <li><a  href="{% url "view_job" %}?page={{total_page.last_page_number}}"><i class="fa fa-arrow-left"></i></a></li>
            <li><a  href="{% url "view_job" %}?page={{last_page}}">Last</i></a></li>
        {% endif %}
      </ul>
  </div>
    </div>
  </section>


{% comment %} 

<div class="container-fluid">
    <h1>Posted jobs</h1>
    <div class="row">
            {% for job in jobs %}
                <div class="col-md">
                    <div class="col-md-auto">
                        <img class="card-img-top" src="{{job.image.url}}">
                    </div>
                    <span>Title: {{job.job_title}}</span> <br/>
                    <span>Description: {{job.description}} </span><br/>
                    <span>Must be completed by: {{job.completion_time}} </span><br/>
                    <a class="btn btn-outline-success my-2 my-sm-0" href={% url 'job_detail' job.id %}>More Details</a>
                </div>
            {% endfor %}
    </div>
</div>  {% endcomment %}
{% endblock content %}