{% extends 'admin_base.html' %}

{% block content %}
<div class="login register">
    <div class="login-form">
        <form method="POST">
            {% csrf_token %}
            <h2>Request to be admin</h2>
            <div class="input-group">
                <label for="Token">Token</label>
                <input type="password" placeholder="Enter Token...." name="token">
            </div>
            <div class="login-btn">
                <button type="submit">Request</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}