{% extends 'admin_base.html' %}
{% block content %}
{% load static %}



<header>
    <div class="logo">

            <a href="dashboard.html"><img src="{% static "image/logo.png" %}" alt="image" title="image"></a>
    </div>
</header>
<div class="login">
    <div class="login-form">
        <form method="POST">
            <h2>Login</h2>

            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" placeholder="Email" name="email">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" placeholder="Password" name="password">
            </div>
            <div class="login-btn">
                <button type="submit">Login</button>
            </div>
        </form>

    </div>
</div>
<footer>
    <p>@Copyright 2023

</footer>
{% endblock content %}