{% extends 'base.html' %}

{% block content %}

<form method="POST", enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputFirstName4">First Name</label>
                <input type="text" class="form-control" id="inputFirstName4" placeholder="First Name" name="first_name" value="{{user.first_name}}">
            </div>
            <div class="form-group col-md-6">
                <label for="inputLastName">Last Name</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" name="last_name" value="{{user.last_name}}">
            </div>
            
            <div class="form-group">
                <label for="inputAddress">Country</label><br>
                <select name="country" >
                    <option>
                        {% for country in form.country %}
                            {{ country }}
                        {% endfor %}
                </option>
                </select>
              </div>
            <div class="form-group col-md-6">
                <label for="inputBio">Biography</label>
                <textarea type="text" class="form-control" id="inputBio" rows=5 placeholder="Bio" name="bio" >{{user.bio}}</textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>
{% for message in form %}
{% for error in message.errors %}

<p>{{error}}</p>
{% endfor %}
{% endfor %}
{% if success_message %}
    <p>{{success_message}}</p>
{% endif %}
{% endblock content %}