{% load static %}
<div class="menu">
    <div class="logo">
        
 <a href="dashboard.html"><img src="{% static 'admin_static/image/logo.png' %}" alt="image" title="image"></a>
    </div>
    <nav>
        <ul>
            <li class="active">
                <a href="dashboard.html">Dashboard</a>
            </li>
            <li>
                <a href="list.html"> Jobs</a>
            </li>
            <li>
                <a href="form.html">Add Job</a>
            </li>

        </ul>
    </nav>
</div>