<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AUSDAIS LTY</title>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
        <link rel="stylesheet" href="{% static "css/responsive.css" %}">
    </head>
    <body>
        {% include 'navbar.html' %}
        {% block content %}
        
        {% endblock content %}
        {% include 'footer.html' %}
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/owl.carousel.js" %}"></script>
        <script>
            $(document).ready(function() {
                $(".home-5 .owl-carousel").owlCarousel({
                    width: 344,
                    margin: 30,
                    items: 1,
                    loop: true,
                    margin: 10,
                    nav: true,
                    autoplay: true,
                    autoplayTimeout: 2000,
                    autoplayHoverPause: true,
                    responsive: {
                        0: {
                            items: 1
                        },
                        600: {
                            items: 1
                        },
                        1000: {
                            items: 2
                        },
                        1200:{
                            items:2
                        },
                        1300:{
                            items:3
                        }
                    }
                })
                $(".category .owl-carousel").owlCarousel({
                    width: 344,
                    margin: 30,
                    items: 1,
                    loop: true,
                    margin: 10,
                    nav: true,
                    autoplay: true,
                    autoplayTimeout: 2000,
                    autoplayHoverPause: true,
                    responsive: {
                        0: {
                            items: 1
                        },
                        600: {
                            items: 2
                        },
                        1000: {
                            items: 3
                        }
                    }
                })
            });
        </script>
            <script>
                jQuery(document).ready(function() {
        
                    jQuery('header .toggle').click(function() {
                        jQuery('.bottom-right').slideToggle('slow');
                    })
                });
            </script>
    </body>
</html>