{% load static %}

<footer>
    <div class="container">
        <div class="footer-info">
            <div class="row">
                <div class="col-4">
                    <div class="footer-widget">
                        <div class="logo">

                            <a href="index.html"> <img src="{% static 'image/logo-footer.png' %}" alt="logo " title="logo "></a>
                        </div>
                        <p>Follow us on social media and subscribe to our newsletter to receive valuable insights, industry trends, and exclusive offers.
                        </p>


                        <ul class="footer-address">
                            <li>

                                <a href="index.html"><i class="fa fa-phone"></i> <span>71643823741</span></a>
                            </li>
                            <li> <a href="index.html"><i class="fa fa-envelope-o"></i><span>ausdais@gmail.com</span></a></li>

                            <li>
                                <a href="index.html"><i class="fa fa-map-marker"></i><span>Bundoora, Melbourne, Australia</span></a>
                            </li>
                        </ul>


                    </div>
                </div>
                <div class="col-4">
                    <div class="footer-widget links">
                        <h3>Quick Links</h3>
                        <div class="footer-links">
                            <ul>
                                <li>



                                    <a href="index.html"> Home</a>
                                </li>
                                <li>



                                    <a href="about.html">About</a>
                                </li>
                                <li>



                                    <a href="search.html"> Jobs</a>
                                </li>
                                <li>



                                    <a href="contact.html"> Contact</a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-4">
                    <div class="footer-widget">
                        <h3>Newsletter</h3>
                        <p>Subscribe Our Newsletter To Get Latest Update And News</p>
                        <input class="form-control" type="text" placeholder="Enter Email">
                        <button class="btns">Subscribe Now</button>

                    </div>
                </div>
            </div>
        </div>

    </div>


</footer>

<div class="footer-bottom">
    <div class="container"> 
        <p>© Copyright 2023
            <a href="index.html">AUSDAIS LTY</a> All Rights Reserved. 
        </p>
    </div>
</div>