<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href={% url 'home' %}>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href={% url 'view_user' request.user.id %}>Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href={% url 'notification' request.user.id %}>Notification</a>
            </li>
            <span class="navbar-text">Hello, {{request.user.username}}</span>
            <li class="nav-item">
                <a class="btn btn-outline-success my-2 my-sm-0" href={% url 'logout' %}>Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="btn btn-outline-success my-2 my-sm-0" href={% url 'login' %}>Login</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-success my-2 my-sm-0" href={% url 'register' %}>Register</a>
            </li>
        {% endif %}

        {% if request.user.user_type == "client" %}
            <a class="btn btn-outline-success my-2 my-sm-0" href={% url 'post_job' %}>Post</a>
            <a class="btn btn-outline-success my-2 my-sm-0" href={% url 'view_job' %}>Show your jobs</a>
        {% else %}
          <a class="btn btn-outline-success my-2 my-sm-0" href={% url 'view_job' %}>Available jobs</a>
        {% endif %}
      </ul>
    </div>
  </nav>